@model ProductListViewModel

@foreach (var p in Model.Products)
{
    @*@Html.Partial("ProductSummary", p)*@
    <partial name="ProductSummary" for="@p"></partial>
}

<div page-model="@Model.PagingInfo" page-action="List"
    page-classes-enable="true"
    page-class="btn"
    page-class-normal="btn-secondary"
    page-class-selected="btn-primary"
    class="btn-group pull-right m-1">
</div>