@model ProductListViewModel

@foreach (var p in Model.Products)
{
    <div class="card card-Output-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                @p.Name
                <span class="badge badge-pill badge-primary" style="float: right">
                    <small>@p.Price.ToString("c")</small>
                </span>
            </h4>
        </div>
        <div class="card-text p1">@p.Description</div>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="List"
    page-classes-enable="true"
    page-class="btn"
    page-class-normal="btn-secondary"
    page-class-selected="btn-primary"
    class="btn-group pull-right m-1">
</div>