@model IEnumerable<string>

<a class="btn btn-block btn-secondary"
    asp-action="List"
    asp-controller="Product"
    asp-route-category="">
    Home
</a>

@foreach (var c in Model)
{
    <a class="btn btn-block @(c == ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary")"
        asp-action="List"
        asp-controller="Product"
        asp-route-category="@c"
        asp-route-productPage="1">
        @c
    </a>
}