<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css" />
</head>
<body>
    <div class="m-1 p-1">
        <div class="bg-info p2"><h4>@ViewBag.Title</h4></div>
        @RenderBody()
    </div>
</body>
</html>